<div class="main">
  <div class="header">
    <div class="insideHeader">
      <h1>Algorithm Visualizer</h1>
      <h2>
        Explore algorithms with step-by-step visualizations, simplifying the
        <br />
        learning process and making it more engaging for a better <br />
        understanding
      </h2>
    </div>
    <img src="../assets/0_UVG1F-0kLAEWAT3k.png" alt="" class="algorithmsimg" />
  </div>
  <div class="cards">
    <app-cards
      *ngFor="let items of infoService.cardInfo"
      [data]="items"
    ></app-cards>
  </div>
</div>
