.cardbody {
  height: 350px;
  cursor: pointer;
  border: 1px gray solid;
  border-radius: 20px;
  .imgs {
    width: 100%;
    height: 55%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }
}
