.starightLinkedList {
  width: 600px;
  height: 100px;
  border: 1px solid black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
