<div
  class="node"
  [ngStyle]="{
    transform:
      'translate(' + (node.x + 250 - 20) + 'px, ' + (node.y + 250 - 20) + 'px)'
  }"
>
  <p class="number">{{ node.val }}</p>
  <svg class="arrows">
    <defs>
      <marker
        id="arrowhead"
        markerWidth="10"
        markerHeight="7"
        refX="10"
        refY="3.5"
        orient="auto"
      >
        <polygon points="0 0, 10 3.5, 0 7" fill="black" />
      </marker>
    </defs>

    <line
      [attr.x1]="arrow.x1 + 250"
      [attr.y1]="arrow.y1 + 250"
      [attr.x2]="arrow.x2 + 250"
      [attr.y2]="arrow.y2 + 250"
      stroke="black"
      stroke-width="2"
      marker-end="url(#arrowhead)"
    />
  </svg>
</div>
