.node {
  position: absolute; /* So they can be placed anywhere within the .circle */
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
