.node {
  position: absolute; /* So they can be placed anywhere within the .circle */
  width: 30px;
  height: 30px;
  background-color: lightblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  pointer-events: none; // Keeps the arrows from blocking node clicks
}
